.text {
  composes: h3 from global;
  grid-column: 1 / 12;
  text-align: justify;
}

.cta {
  grid-column: 19 / 27;
  align-self: end;
  justify-self: end;
}

.cards {
  grid-column: 1 / -1;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .text {
    grid-column: 1 / -1;
  }
  .cta {
    grid-column: 1 / -1;
    order: 3;
    justify-self: start;
    width: 100%;
    margin-top: 2rem;
  }
  .cards {
    grid-column: 1 / -1;
    order: 2;
  }
}