.text {
  composes: h3 from global;
  grid-column: 1 / 13;
}

/*.cta {
  grid-column: 19 / 27;
  align-self: end;
  justify-self: end;
}*/

.cards {
  grid-column: 1 / -1;
  margin-top: 6rem;
}

@media (max-width: 1024px) {
  .text {
    grid-column: 1 / -1;
  }
  /*.cta {
    grid-column: 1 / -1;
    order: 3;
    justify-self: start;
    width: 100%;
    margin-top: 4rem;
  }*/
  .cards {
    grid-column: 1 / -1;
    order: 2;
  }
}