.servicesText {
  grid-column: 1 / 13;
  composes: h3 from global;
  margin-inline-end: auto;  
  padding-bottom: 7rem;
}

.servicesInner {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.servicesLabelCol {
  text-align: center;
}

.servicesList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.servicesList ul {
  width: 100%;
}

.serviceItem {
  display: flex;
  justify-content: center;
}

.serviceTitle {
  display: inline-block;
  composes: h2 from global;
  white-space: nowrap;
  transition: font-size var(--transition);
}

@media (hover: hover) {
  .serviceItem:hover .serviceTitle {
    font-size: calc(var(--fs-h2) * 1.1);
  }
}

@media (hover: none) {
  .serviceItem.isNear .serviceTitle {
    font-size: calc(var(--fs-h2) * 1.1);
  }
  .serviceTitle {
    line-height: 1.8;
  }
}

@media (max-width: 768px) {
  .servicesText {
  grid-column: 1 / -1;
}
.servicesInner {
  grid-column: 1 / -1;
}
}