/* components/media/MasonryGallery.module.css */

.grid {
  column-count: 4;
  column-gap: var(--space-sm);

  width: 100%;
}

.cell {
  break-inside: avoid;
  margin-bottom: var(--space-sm);
}

@media (max-width: 1440px) {
  .grid {
    column-count: 3;
  }
}

@media (max-width: 1024px) {
  .grid {
    column-count: 2;
  }
}

@media (max-width: 640px) {
  .grid {
    column-count: 1;
  }
}